.shoppage
{
    display: flex;
    justify-content: space-between;

}
#shopmenu 
{
    width: 20%;
    padding: 30px;
    border: 2px solid black;
    margin-bottom: 20px;

    
}
#shopData
{
    width: 80%;
    margin-bottom: 0px;
}
