/* Header-CSS */


/* Overall header container */
#header {
    padding: 10px 20px;
    text-align: right;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
    
      /* background: linear-gradient(90deg, #1e1e1e, #000080); Gradient for sporty effect */
      /* color: white; */
     
    }
 
  .space 
{
    margin-left: 20px;
}